In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv("../src/Flux_HistoPrice_example.csv")

In [2]:
df.head()

      vnid  vintage                                       PriceHistory
0  1000001     2013                                      [{202107,38}]
1  1000232     2008  [{201212,18},{201301,18},{201303,18},{201306,1...
2  1000232     2007  [{201203,18},{201206,19},{201209,18},{201303,2...
3  1000245     2005  [{201201,81},{201203,81},{201206,81},{201209,8...
4  1000287     2010  [{201506,19},{201612,41},{201701,40},{201703,4...

In [4]:
df.columns

Index(['vnid', 'vintage', 'PriceHistory'], dtype='object')